[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.1"
psycopg2 = "*"
requests = "*"
unidecode = "*"
irsx = {ref = "main", git = "https://github.com/propublica/990-xml-reader.git"}

[dev-packages]

[requires]
python_version = "3.10"
